body {
  background-color: #6E7E9C;
  margin: 0;
}

.video {
  width: 100%;
}

#hashtag {
  font-size: 25px;
  color: white;
  position: absolute;
  z-index: 10;
  margin-right: 90%;
}

#date{
  font-size: 35px;
  position: absolute;
  z-index: 10;
  float: right;
  color: white;
  margin-left: 50%;
}

